# --- Python general ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.egg
*.egg-info/
*.log

# --- Virtual environments ---
venv/
env/
.venv/
ENV/
env.bak/

# --- Django specific ---
#db.sqlite3
media/
staticfiles/
*.pot
*.pyc
*.mo

# --- IDE / Editors ---
.vscode/
.idea/
*.swp
*.swo

# --- OS files ---
.DS_Store
Thumbs.db